[package]
name = "programinduction"
version = "0.6.8"
authors = ["Lucas Morales <lucas@lucasem.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/lucasem/program-induction"
homepage = "https://github.com/lucasem/program-induction"
documentation = "https://docs.rs/programinduction"
description = "A library for program induction and learning representations."
keywords = ["language", "inference", "bayesian", "genetic", "learning"]
categories = ["algorithms", "science"]

[package.metadata.docs.rs]
rustdoc-args = ["--html-in-header", ".cargo/registry/src/github.com-1ecc6299db9ec823/programinduction-0.3.0/rustdoc-include-katex-header.html"]

[dependencies]
crossbeam-channel = "0.1"
itertools = "0.7"
lazy_static = "1.0"
maplit = "1.0"
nom = "4.0.0"
polytype = "4.2"
rand = "0.5"
rayon = "1.0"

[dev-dependencies]
serde = "1.0"
serde_json = "1.0"
serde_derive = "1.0"

[features]
verbose = []
